* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fbfbfb;
}

.container {
	color: #555;
	overflow: hidden;
	padding: 15px;
	background-color: #fff;
	font-family: sans-serif;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;	
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

form .form-line {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.big-form label {
	float: left;
	position: relative;
}

.big-form .form-text,
 .big-form select {
	font-size: 24px;
	color: #555;
	border: 1px solid #e5e5e5;
	background-color: #fbfbfb;
	border-radius: 6px;
	height: 35px;
	outline: 0;
	width: 100%;
}

.big-form .form-text {
	width: 100%;
}

span.form-submit {
	float: right;
	background-color: #2a95c5;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	font-size: 12px;
	margin: 5px 10px;
}

span.form-submit input {
	color: #fff;
	background: none;
	border: 0;
	padding: 5px 5px;
	font-size: 16px;
	cursor: pointer;
}

span.form-submit:hover {
	border: 1px solid #000;
}

#login-form {
	padding-top: 10px;
}
#logo {
	font-size: 35px;
	display: inline;
	color: #21759b;
}

#logo a {
	text-decoration: none;
}


#wrapper {
	width: 400px;
	margin: auto;
	padding: 3% 0 0 0;
}
#settings-wrapper {
margin: 20px auto; 
width: 700px;
}

#wrapper {
	width: 450px;
	margin: 10px auto;
	overflow: auto;
	padding: 10px 2px;
	position: relative;
}

a {
	color: #21759b;
	/* margin-top: 10px; */
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.navigation {
	margin: 10px;
}

.error {
	display: none;
	background-color: #ffebe8;
	border: 1px solid #c00;
	border-radius: 3px;
	padding: 12px;
	margin: 20px 0;
}

#lists-menu-wrapper {
	float: left;
}

#lists-menu li {
	border-radius: 3px 3px 0 0;
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	background-color: #f5f5f5;

}

#lists-menu li a {
	display: block;
	padding: 2px 5px;
	text-decoration: none;
}

#lists-menu li.act,
#lists-menu li.act:hover {
	background-color: #2a95c5;
}


#lists-menu li:hover {
	background-color: #fff;
}

#lists-menu li.act a {
	color: #fff;
}

#complete-actions {
	background-color: #fbfbfb;
	overflow: auto;
}

#complete-actions div {
	float: right;
	margin: 10px;
}

.menu-wrapper {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	overflow: auto;
}

#actions-menu {	
	float: left;
}

#actions-menu li {
	margin: 5px;
}

#actions-menu li a {
	display: block;
	padding: 2px 5px;
}

#actions-menu li a:hover {
	text-decoration: none;
}

#actions-menu li:hover {
	background-color: #fff;
	border-radius: 3px;
}

.menu {
	list-style: none;
	display: block;
	overflow: auto;
}

.menu li {
	float: left;
	margin: 0 5px;	
}

#header {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	overflow: auto;
}

#header #logo {
	padding-left: 20px;
}

#lists-menu .last-item {
	float: right;
	margin-right: 0;
}

#lists-menu .first-item {
	margin-left: 0;
}

table {
	width: auto;
	border-collapse: collapse;
	padding: 0;
	background-color: #fdfdfd;
}

table th {
	background-color: rgb(235,235,235);
    font-family: sans-serif;
    font-size: 16px;
}
;
	text-align: left;
}

.priority-td {
	font-weight: bold;
	font-size: 18px;
}

table td,
table th {
	padding: 9px;
	text-align: left;
}

.middle-form {
	display: block;
	overflow: auto;
	margin: 10px auto;
	width: 500px;
}

.middle-form  .form-line {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.middle-form .form-text {
	width: 99%;	
	font-size: 16px;
	color: #555;
	border: 1px solid #e5e5e5;
	background-color: #fbfbfb;
	border-radius: 3px;
	height: 25px;
	outline: 0;
}

#description {
	width: 100%;	
	font-size: 16px;
	color: #555;
	border: 1px solid #e5e5e5;
	background-color: #fbfbfb;
	border-radius: 3px;
	height: 100px;
	outline: 0;
	resize: none;
}

#biainer {
	border-radius: 0 0 3px 3px;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	width: 99%; /* border-width scrollbars */
}

.middle-form select {
	font-size: 16px;
	color: #555;
	height: 25px;
	border: 1px solid #e5e5e5;
	background-color: #fbfbfb;
	border-radius: 3px;
	outline: 0;
	width: 100%;
}

#submit-wrapper {
	padding: 20px 5px 5px 5px;
	float: right;
}

#priority-wrapper {
	margin-left: 40px;
}

.middle-form .left-col {
	float: left;
	width: 300px;
}

.middle-form .right-col {
	width: 180px;
	float: right;
}

.middle-form .cell {
	float: left;	
	padding: 5px;
}
input {
	/*margin: 1px 0px 0px 1px;*/
	width: 80px;
	height: 25px;
	margin: 5px 10px;
	border-radius: 5px;
	float: none;
}

#time-wrapper {
	width: 75px;
	padding: 5px;
}

#date-wrapper {
	width: 90px;
	padding: 5px;
}

#title-wrapper {
	width: 300px;
}

#select-list-wrapper {
	width: 200px;
}

#notFound {
	display: inline;
	letter-spacing: 0px;
	padding: 10px;
	text-align: center;
	width: auto;
}

#notFound a {
	text-align: center;
	letter-spacing: 1px;
	font-size: 30px;
	font-weight: bold;
}

#notFound h6 {
	font-size: 40px;
	letter-spacing: 7px;
	margin: 0 0 50px 0;
}

#notFound h1 {
	font-size: 180px;
}


#back {
	float: right; 
	margin: 20px;
}

#new_title{
	width: 350px; 
	padding: 5px;
}

/*#add input{
	margin: 20px 0px 0px 30px;
	width: 80px;
	height: 25px;
}*/

/*#tableDevices input{
	margin: 1px 0px 0px 1px;
	width: 70px;
	height: 25px;
}*/
/*#tableDevices span {
	margin: 20px 0px 0px 30px;
}*/
#tableEdit {
	margin: auto;
	border-collapse: separate;
	border-radius: 5px;
	color: #000;
}
#tableDevices {
	border-radius: 5px;
	border-collapse: separate;
	margin: auto;
	width: 450px;
}
/*
#tableDevices input{
	margin: auto;
}*/

#tableEdit input {
	margin: 10px 0px 0px 275px;
	width: 80px;
}

#tableEdit p {
	margin: -10px 0px 0px -275px;
}

#list li {
	margin-left: 35px;
	margin-bottom: 2px;
}
#list frame {
	margin-left: 35px;
	margin-bottom: 2px;
}


#information img {
	margin-left: 89%
}

#turquoise {	
	color: #21759b;
}

#login {
	margin:0;
}

#password {
	margin:0;
}

#tableInfo {
	margin: auto;
	border-collapse: separate;
	border-radius: 5px;
	color: #000;
}

#checkbox {
	width: 18px;
    height: 18px;
}

/*#submit {
	margin: 5px 10px;
}*/

#delete, #add, #export, #ok {
	width: auto;
	text-align: center;
	float: inherit;
}

#export, #ok {
	padding: 3px 5px;
	margin: 0;
	}

#main-form {
	width: 470px;
	margin-top: 15px;
}
